#hide-title {
  visibility: hidden;
}

.level {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 16px;
  background-color: #FFFFFF;
  border-bottom: 1px solid rgba(0,0,0,.0975);
}

.level > div {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 0;
  width: calc(100% - 48px);
}

.level h3 {
  font-size: 60px;
  margin: 0;
  line-height: 1;
  padding: 0;
  font-family: 'Concert One', sans-serif;
  font-weight: normal;
}

.level h3:hover {
  color: #222 !important;
}

#hide-title {
  color: rgba(0, 0, 0, 0) !important;
}

a, a:hover, a:active, svg:hover, object:hover {
  text-decoration: none;
  cursor: pointer;
}

a:hover:not(object) {
  color: initial;
}

a {
  color: #222;
}

a:hover {
  color: #555;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 880px) {
  .level h3 {
    font-size: 48px;
  }

  .logo object {
    height: 52px !important;
  }
}

@media screen and (max-width: 400px) {
  .level h3 {
    font-size: 40px;
  }

  .logo object {
    height: 43px !important;
  }

}