.show {
  opacity: 1;
  /*height: 16px !important;*/
  margin-top: 8px;
  margin-top: -8px !important;
  transition: .5s all cubic-bezier(.6,.43,.34,.73);
}

.hide {
  opacity: 0;
  margin-top: -16px !important;
  /*height: 0px !important;*/
  transition: .5s all cubic-bezier(.6,.43,.34,.73);
}